<div class="left">
  <h1>Add user</h1>
  <ul class="breadcrumb">
    <li>
      <a  class="active"  href="#">Dashboard</a>
    </li>

    <li>
      <a class="active" href="/adduser">Add user</a>
    </li>
  </ul>
</div>
<form class="row g-3" [formGroup]="formLogin">
  <div class="col-10">
    <label for="inputEmail4" class="form-label">User name</label>
    <input class="form-control" id="inputEmail4" id="validationCustom03" placeholder="Enter your user name" class="form-control" formControlName="username">
    <div class="alert alert-danger" role="alert" *ngIf="formLogin.controls['username']?.errors?.['required'] && submitted">
      Identifier is required
    </div>
  </div>

  <div class="col-md-5">
    <label for="inputPassword4" class="form-label" required>Password</label>
    <input type="password" class="form-control" id="inputPassword4" placeholder="Enter your password" class="form-control" formControlName="password">
    <div class="alert alert-danger" role="alert" *ngIf="formLogin.controls['password'].errors?.['required'] && submitted">
      Password is required
    </div>
  </div>
  <div class="col-md-5">
    <label for="inputPassword4" class="form-label" required> Confirm Password</label>
    <input type="password" class="form-control" id="inputPassword4" placeholder="Re-enter your password" class="form-control" formControlName="confirmPassword">
    <div class="alert alert-danger" role="alert" *ngIf="formLogin.controls['confirmPassword'].errors?.['confirmedValidator'] && submitted">
      Passwords do not match
    </div>
  </div>

  <div class="col-10">
    <label for="inputAddress" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Enter your last name" class="form-control" formControlName="userLastName">
    <div class="alert alert-danger" role="alert" *ngIf="formLogin.controls['userLastName']?.errors?.['required'] && submitted">
      Last name is required
    </div>
  </div>
  <div class="col-10">
    <label for="inputAddress2" class="form-label">Phone</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder=" number please" class="form-control" formControlName="phoneNumber">
    <div class="alert alert-danger" role="alert" *ngIf="formLogin.controls['phoneNumber']?.errors?.['required'] && submitted">
      Phone is required
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label" required>Email</label>
    <input type="email" class="form-control" id="inputCity"  placeholder="Enter  email address"class="form-control" formControlName="email">
    <div class="alert alert-danger" role="alert" *ngIf="formLogin.controls['email']?.errors?.['required'] && submitted">
      Email is required
    </div>
  </div>
  <div class="col-md-3">
    <label for="inputZip" class="form-label" required>Role</label>
    <input type="text" class="form-control" id="inputZip" placeholder="Enter your role" class="form-control" formControlName="roleName">
    <div class="alert alert-danger" role="alert" *ngIf="formLogin.controls['roleName']?.errors?.['required'] && submitted">
      Role is required
    </div>
  </div>
  <div class="col-md-3">
    <label for="inputZip" class="form-label" required>titre</label>
    <input type="text" class="form-control" id="inputZip" placeholder="Enter your role" class="form-control" formControlName="titre">
    <div class="alert alert-danger" role="alert" *ngIf="formLogin.controls['titre']?.errors?.['required'] && submitted">
      titre is required
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary" (click)="onclickForm()">Add User</button>
  </div>
</form>
